@font-face {
    font-family: stoNe; /*a name to be used later*/
    src: url('./stoNe.ttf'); /*URL to font*/
}

:root {
  --alt-color: #500090;
}
body {
  background-color: black;
}

* {
  position: absolute;
}

#hud, #area{
  border: solid 4px var(--alt-color);
  z-index: 1;
  width:720px;
}

#hud {
  border-bottom: solid 0px #500090;
  top: 120px;
  left: 360px;
  height:192px;
}

#area {
  border-top: solid 0px var(--alt-color);
  top: 312px;
  left: 360px;
  height: 528px;
}

#exit {z-index: 2;}

#enemy {z-index: 2;}

#player {z-index: 3;}

#tree {z-index: 4;}
/*Age12Humor:'(
  13 length
*/
#title {
  white-space: nowrap;
  top: -20px;
  left: 620px;
  font-size: 48px;
  color: var(--alt-color);
  font-family: stoNe;
}
