@font-face {
    font-family: stoNe; /*a name to be used later*/
    src: url('./stoNe.ttf'); /*URL to font*/
}

:root {
  --alt-color: #500090;
}
body {
  background-color: black;
}

#hud, #area{
  position: absolute;
  border: solid 4px var(--alt-color);
  z-index: 1;
  width:720px;
}

#hud {
  position: absolute;
  border-bottom: solid 0px #500090;
  top: 120px;
  left: 360px;
  height:192px;
}

#area {
  border-top: solid 0px var(--alt-color);
  top: 312px;
  left: 360px;
  height: 528px;
}

#tree {
  position: absolute;
  z-index: 2;
}

#exit {
  position: absolute;
  z-index: 2;
}

#enemy {
  position: absolute;
  z-index: 2;
}

#player {
  position: absolute;
  z-index: 3;
}
/*Age12Humor:'(
  13 length
*/
#title {
  position:absolute;
  top: -20px;
  left: 620px;
  font-size: 48px;
  color: var(--alt-color);
  font-family: stoNe;
}
